.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(34, 34, 34);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.image {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  padding: 5%;
}

.ingredientText {
  line-height: 20px;
  font-style: Helvetica;
  font-size: 20px;
  padding: 5px 10px;
}

.caloriesText {
  font-size: 20px;
  font-style: Helvetica;
}
